* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #558ca1;
    --blueWhite: #ABCED8;
    --white: #f1f1f1;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: var(--blue);
}

.navbar-collapse {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-custom {
    background-color: #558ca1;
    color: white;
    font-size: 18px;
}


.btn-custom:hover {
    color: white;
    background-color: #40788e;
    color: white;
}


.sambar {
    font-family: 'Noto Serif Balinese', serif;
}

.margin-container {
    margin-top: 100px;
}

.card {
    border: none;
    box-shadow: none;
}

.img {
    max-width: 300px;
    max-height: 300px;
}

#Jelajahi .card-body {
    padding: 0px;
}

.kepala {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content {
    margin-top: 150px;
}

.wrapper-cards {
    justify-content: center;
}

#card-content{
    transition: all 0.3s;
}

#cards-content:hover  {  
    transform: scale(1.15);
    z-index: 10;
    padding: 20px;
}