<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Marerep</title>

    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Link jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Link Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Link jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Include SweetAlert2 CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content-main {
            flex: 1;
        }

        footer {
            margin-top: auto;
        }

        .btn-custom {
            margin-right: 10px;
        }

        .btn-danger {
            background-color: rgb(204, 19, 19);
            color: white;
            font-size: 18px;
        }


        .btn-danger:hover {
            color: white;
            background-color: rgb(163, 8, 8);
            color: white;
        }

        .card {
            border-radius: 10px;
            overflow: hidden;
        }

        .image img {
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
            object-position: center;
        }


        .kepala {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .image {
            overflow: hidden;
        }

        .card img {
            width: 500px;
            height: 250px;
            object-fit: cover;
            transition: transform 0.5s;
        }

        .card:hover img:hover {
            transform: scale(1.2);
        }

        footer {
            box-shadow: 6px 4px 6px 6px rgb(222, 221, 221);
        }
    </style>

    <script>
        function deletePenginapan(penginapanId) {
            // Konfirmasi dengan SweetAlert
            Swal.fire({
                title: 'Konfirmasi',
                text: 'Apakah Anda yakin ingin menghapus penginapan?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ya, hapus!',
                cancelButtonText: 'Batal'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Jika pengguna mengkonfirmasi, lakukan penghapusan
                    $.ajax({
                        url: '/delete/penginapan/' + penginapanId,
                        type: 'DELETE',
                        success: function (response) {
                            if (response.result === 'success') {
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'penginapan deleted successfully!',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Failed to delete penginapan!',
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }
                        }
                    });
                }
            });
        }

        function logout() {
            Swal.fire({
                title: 'Apakah anda yakin keluar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#558CA1',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, Keluar!',
                cancelButtonText: 'Batal',
                toast: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.removeCookie('mytoken', { path: '/' });
                    Swal.fire(
                        'Signed out!',
                        'Anda telah keluar.',
                        'success'
                    ).then(() => {
                        window.location.href = "/";
                    });
                }
            });
        }
    </script>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="../static/logo.png" width="auto" height="70px" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cekpesanan/admin">Cek Pesanan</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex gap-2">
                        <button class="btn btn-danger me-2" type="button" onclick="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main -->
    <div class="content-main mt-2">
        <section class="content">
            <div class="container">
                <div class="jelajahi mb-5">
                    <h2 style="font-weight: 600; text-align: center;">Daftar Penginapan</h2>
                </div>
                <a class="btn btn-success me-2" href="/tambah/penginapan" role="button">Tambah Penginapan</a>

                <form action="/pencarian/admin" method="GET" class="search-form mt-4">
                    <div class="input-group" style="height: 50px;">
                        <input type="text" name="pencarian" class="form-control" placeholder="Cari penginapan...">
                        <button type="submit" class="btn btn-custom">Cari</button>
                    </div>
                </form>

                <div class="album  py-5">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="penginapan-container">
                            {% for penginapan in penginapan %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="image">
                                        <img src="{{ url_for('static', filename='penginapan_images/' + penginapan['gambar']) }}"
                                            class="card-img-top" alt="gambar">
                                    </div>
                                    <div class="card-body">
                                        <div class="kepala">
                                            <button type="button" class="btn btn-outline-primary btn-sm" disabled>
                                                {{ penginapan['lokasi'] }} </button>
                                            <small class="text-body-secondary">Tersedia <b style="color: red;"> {{
                                                    penginapan['jumlah_kamar'] }} kamar
                                                </b></small>
                                        </div>
                                        <div class="deskripsi">
                                            <h4 class="card-title-bold">{{ penginapan['nama'] }}</h4>
                                            <h6 class="d-flex">Harga: Rp {{ penginapan['harga']}}
                                            </h6>
                                        </div>

                                        <div class="d-flex justify-content-start mt-3">
                                            <a href="{{ url_for('penginapan_detail_admin', penginapan_id=penginapan['_id']) }}"
                                                class="btn btn-custom">Detail</a>
                                            <a href="#" class="btn btn-danger"
                                                onclick="deletePenginapan('{{ penginapan['_id'] }}')">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- Footer -->
    <footer class="bd-footer mt-5">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
            <div class="row ">
                <div class="col-lg-6 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
                        aria-label="Bootstrap">
                        <img src="../static/logo.png" width="auto" height="70px" alt="logo" />
                    </a>
                    <ul class="list-unstyled small">
                        <li class="mb-2" style="font-size: 18px;">Marerep bertujuan agar siapa saja yang ingin
                            berkunjung ke Bali mendapat
                            penginapan yang dekat tempat wisata tujuannya. </li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-5">
                    <h5>Menu</h5>
                    <ul class="list-unstyled menu">
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/admin">Dashboard</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link" href="/cekpesanan/admin">Cek Pesanan</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-3">
                    <h5>Kontak</h5>
                    <ul class="list-unstyled menu">
                        <li class="mb-2">0813-7261-5252</li>
                        <li class="mb-2">marerep@gmail.com </li>
                        <li class="mb-2">ig : marerep</li>
                        <li class="mb-2">tiktok : marerep official</li>
                        <li class="mb-2">service.marerep@mail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>