<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Marerep</title>

    <!-- Link Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />

    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Link jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Link Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Link jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <!-- Ganti teks lorem -->
    <!-- Ok siap besok kukerjakan -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="./static/logo.png" width="70px" height="70px" alt="babi" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto gap-4">
                    <li class="nav-item">
                        <a class="navbar-item home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-item" href="/pencarian">Pencarian</a>
                    </li>
                    {% if logged_in %}
                    <li class="nav-item">
                        <a class="navbar-item" href="/cekpesanan/{{user_info.username}}">Cek Pesanan</a>
                    </li>
                    {% endif %}
                </ul>

                <!--hai-->
                <!-- Login -->
                <ul class="navbar-nav ms-auto">
                    {% if not logged_in %}
                    <li class="nav-item d-flex gap-2">
                        <a class="button is-masuk" href="/login/user">Masuk</a>
                        <a class="button is-daftar" href="/register/user">Daftar</a>
                    </li>
                    {% endif %}
                    {% if logged_in %}
                    <li class="nav-item d-flex gap-2">
                        <a class="button is-user-info">{{ user_info.username }}</a>
                        <a class="button is-logout" href="/logout">Keluar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main -->
    <main>
        <div class="container mt-5" id="containerHero">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <div>
                        <h1 style="font-size: 50px; font-weight: 800">
                            Lorem Ipsum is simply dummy text
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                            delectus voluptates quas animi tenetur, doloribus ut fugit magni
                            hic repellat est sed, omnis obcaecati explicabo cumque. Amet,
                            asperiores. Repellendus, cupiditate!
                        </p>
                        <a href="/pencarian" class="btn btn-dark mt-3">Mulai Eksplorasi</a>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <img class="rounded shadow" width="100%"
                        src="./static/balibackground.jpg"
                        alt="" />
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 style="font-size: 36px; font-weight: 900">Marerep</h1>
                    <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum,
                        assumenda consectetur. Facere porro veniam ipsum debitis excepturi
                        aut molestiae deserunt, ex pariatur possimus, voluptatum ab rem
                        magnam nobis commodi praesentium. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Libero ducimus odio suscipit harum
                        eligendi, veritatis corrupti reprehenderit reiciendis quas
                        delectus incidunt consequatur repellendus id quam necessitatibus
                        cumque optio? Deleniti, unde!
                    </p>
                </div>
            </div>
        </div>

        <div class="container margin-container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 style="font-size: 36px; font-weight: 900">Mengapa Marerep</h1>
                    <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>

                <div class="row mt-2">
                    <div class="col-4">
                        <div class="card" style="width: 100%">
                            <div class="card-body text-center">
                                <i class="bi bi-person-fill" style="font-size: 4rem"></i>
                                <h1 style="font-weight: 900; font-size: 20px; margin-top:-15px" class="card-title">
                                    Lorem Ipsum
                                </h1>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="width: 100%">
                            <div class="card-body text-center">
                                <i class="bi bi-person-fill" style="font-size: 4rem"></i>
                                <h1 style="font-weight: 900; font-size: 20px; margin-top:-15px" class="card-title">
                                    Lorem Ipsum
                                </h1>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card" style="width: 100%">
                            <div class="card-body text-center">
                                <i class="bi bi-person-fill" style="font-size: 4rem"></i>
                                <h1 style="font-weight: 900; font-size: 20px; margin-top:-15px" class="card-title">
                                    Lorem Ipsum
                                </h1>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container margin-container mt-5" id="Jelajahi">
            <div class="row">
                <div class="col-12">
                    <h1 style="font-size: 36px; font-weight: 900">
                        Jelajahi Penginapan
                    </h1>
                    <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>

                <div class="row">
                    {% for accommodation in accommodations[-3:] %}
                    <div class="col-4">
                        <div class="card" style="width: 100%">
                            <img src="{{ url_for('static', filename='image_penginapan/' + accommodation['gambar']) }}"
                                class="card-img-top" alt="gambar" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title">{{ accommodation['nama'] }}</h5>
                                <p class="card-text">Lokasi: {{ accommodation['lokasi'] }}</p>
                                <p class="card-text">Harga: Rp {{ accommodation['harga'] }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="columns is-centered mt-3">
                        <div class="column is-half-tablet">
                            <div class="has-text-centered">
                                <div>
                                    <a href="/pencarian" class="button is-lihat">Lihat Semua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bd-footer bg-body-tertiary mt-5">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
          <div class="row">
            <div class="col-lg-3 mb-3">
              <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
                <img src="../static/logo.png">
              </a>
              <ul class="list-unstyled small">
                <li class="mb-2">lorrremmmmmmmmmmmmmmmmmmmmmmmm</li>
                <li class="mb-2">lorem </li>
                <li class="mb-2">Currently v5.3.2.</li>
              </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
              <h5>Menu</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="/">Home</a></li>
                <li class="mb-2"><a href="">Dashboard</a></li>
                <li class="mb-2"><a href="">Cek Pesanan</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
              <h5>Kontak</h5>
              <ul class="list-unstyled">
                <li class="mb-2">0813-7261-5252</li>
                <li class="mb-2">marerep@gmail.com </li>
                <li class="mb-2">ig : marerep</li>
                <li class="mb-2">tiktok : marerep official</li>
                <li class="mb-2">service.marerep@mail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>