<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Marerep</title>

    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Link jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Link Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Link jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="./static/logo.png" width="auto" height="70px" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto gap-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pencarian">Pencarian</a>
                    </li>
                    {% if logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/cekpesanan/{{user_info.username}}">Cek Pesanan</a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Login -->
                <ul class="navbar-nav ms-auto">
                    {% if not logged_in %}
                    <li class="nav-item d-flex gap-2">
                        <a class="nav-link active btn" aria-current="page" href="/register/user">Daftar</a>
                        <a class="btn btn-custom" aria-current="page" href="/login/user">Masuk</a>

                    </li>
                    {% endif %}
                    {% if logged_in %}
                    <li class="nav-item d-flex gap-2">
                        <a class="nav-link active btn" aria-current="page" href="#">{{ user_info.username
                            }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main -->
    <main>
        <div class="container mt-5" id="containerHero">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <div>
                        <h1 style="font-size: 50px; font-weight: 800">
                            Spend Wisely during Vacation in Bali
                        </h1>
                        <p>
                            Takut boncos pas liburan ke Bali karena biaya transport ke tempat tujuan wisatamu?
                            Cari Penginapan yang dekat tempat wisata tujuanmu, yuk!
                        </p>
                        <a href="/pencarian" class="btn btn-dark mt-3">Mulai Eksplorasi</a>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <img class="rounded shadow" width="100%" src="./static/balibackground.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 style="font-size: 36px; font-weight: 900">Marerep</h1>
                    <p class="mt-2">
                        Marerep (<b class="highlight">ᬫᬋᬋᬧ᭄᭟​</b>) ialah kata bahasa Bali yang berarti "Menginap".<br>
                        Website ini menyediakan layanan sewa <b>rerepan</b> (penginapan) di Bali yang memberikan
                        kenyamanan bagi kantongmu, dengan sistem pencarian penginapan berdasarkan tempat wisata tujuan
                        ketika berlibur ke Bali. Karena tempatmu menginap dengan lokasi wisata yang dekat,
                        maka kamu tidak harus pusing dengan biaya transport ke tempat wisata tujuan dari tempatmu
                        menginap.
                    </p>
                </div>
            </div>
        </div>

        <div class="container margin-container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 style="font-size: 36px; font-weight: 900">Mengapa Marerep?</h1>
                    <p class="mt-2">
                        Berbagai Keunggulan yang dimiliki <b>Marerep</b>
                    </p>
                </div>

                <div class="row mt-2">
                    <div class="col-4">
                        <div class="card"
                            style="width: 100%; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div class="card-body text-center">
                                <i class="bi bi-person-fill" style="font-size: 4rem"></i>
                                <h1 style="font-weight: 900; font-size: 20px; margin-top: -15px" class="card-title">
                                    Cost Efficient
                                </h1>
                                <p class="card-text">
                                    Jarak tempuh penginapan ke tempat wisata impian yang terukur, bisa memangkas biaya
                                    perjalanan selama di Bali sehingga efisien
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card"
                            style="width: 100%; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div class="card-body text-center">
                                <i class="bi bi-person-fill" style="font-size: 4rem"></i>
                                <h1 style="font-weight: 900; font-size: 20px; margin-top: -15px" class="card-title">
                                    Cost Efficient
                                </h1>
                                <p class="card-text">
                                    Jarak tempuh penginapan ke tempat wisata impian yang terukur, bisa memangkas biaya
                                    perjalanan selama di Bali sehingga efisien
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card"
                            style="width: 100%; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div class="card-body text-center">
                                <i class="bi bi-person-fill" style="font-size: 4rem"></i>
                                <h1 style="font-weight: 900; font-size: 20px; margin-top: -15px" class="card-title">
                                    Cost Efficient
                                </h1>
                                <p class="card-text">
                                    Jarak tempuh penginapan ke tempat wisata impian yang terukur, bisa memangkas biaya
                                    perjalanan selama di Bali sehingga efisien
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container margin-container mt-5" id="Jelajahi">
            <div class="row">
                <div class="col-12">
                    <h1 style="font-size: 36px; font-weight: 900">
                        Jelajahi Penginapan
                    </h1>
                    <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>

                <div class="row mt-4">
                    {% for accommodation in accommodations[-3:] %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{ url_for('static', filename='image_penginapan/' + accommodation['gambar']) }}"
                                class="card-img-top" alt="gambar" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <div class="kepala">
                                    <button type="button" class="btn btn-outline-primary btn-sm" disabled>
                                        {{ accommodation['lokasi'] }} </button>
                                    <small class="text-body-secondary">Tersedia <b style="color: red;"> {{
                                            accommodation['jumlah_kamar'] }} unit
                                        </b></small>
                                </div>
                                <div class="deskripsi">
                                    <h4 class="card-title-bold">{{ accommodation['nama'] }}</h4>
                                    <h6 class="d-flex justify-content-end">Harga: Rp {{ accommodation['harga']}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="mt-5 text-center">
                        <div>
                            <a href="/pencarian" class="btn btn-custom">Lihat Semua</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </main>

    
    <footer class="bd-footer mt-5">
        <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/"
                        aria-label="Bootstrap">
                        <img src="./static/logo.png" width="auto" height="70px" alt="logo" />
                    </a>
                    <ul class="list-unstyled small">
                        <li class="mb-2">Marerep</li>
                        <li class="mb-2"> Tourism</li>
                        <li class="mb-2">Establish 2023</li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-3">
                    <h5>Menu</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="/">Home</a></li>
                        <li class="mb-2"><a href="">Dashboard</a></li>
                        <li class="mb-2"><a href="">Cek Pesanan</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mb-3">
                    <h5>Kontak</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">0813-7261-5252</li>
                        <li class="mb-2">marerep@gmail.com </li>
                        <li class="mb-2">ig : marerep</li>
                        <li class="mb-2">tiktok : marerep official</li>
                        <li class="mb-2">service.marerep@mail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>