<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pencarian | Marerep</title>

    <!-- Link Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />

    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Link jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Link Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Link jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        .kepala {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="./static/logo.png" width="70px" height="70px" alt="babi" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto gap-4">
                    <li class="nav-item">
                        <a class="navbar-item home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-item" href="/pencarian">Pencarian</a>
                    </li>
                    {% if logged_in %}
                    <li class="nav-item">
                        <a class="navbar-item" href="/cekpesanan/{{user_info.username}}">Cek Pesanan</a>
                    </li>
                    {% endif %}
                </ul>


                <!-- Ini Login -->
                <ul class="navbar-nav ms-auto">
                    {% if not logged_in %}
                    <li class="nav-item d-flex gap-2">
                        <a class="button is-masuk" href="/login/user">Masuk</a>
                        <a class="button is-daftar" href="/register/user">Daftar</a>
                    </li>
                    {% endif %}
                    {% if logged_in %}
                    <li class="nav-item d-flex gap-2">
                        <a class="button is-user-info">{{ user_info.username }}</a>
                        <a class="button is-logout" href="/logout">Keluar</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="content-main mt-5">
        <section>
            <div class="container">
                <div class="jelajahi">
                    <h2 class="title">Jelajahi Penginapan</h2>
                    <form action="/pencarian" method="GET" class="search-form">
                        <div class="input-group">
                            <input type="text" name="pencarian" class="form-control"
                                placeholder="Cari penginapan berdasarkan tempat wisata terdekat...">
                            <button type="submit" class="btn btn-primary">Cari</button>
                        </div>
                    </form>
                </div>


                <div class="album py-5">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="penginapan-container">
                            {% for accommodation in accommodations %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="{{ url_for('static', filename='image_penginapan/' + accommodation['gambar']) }}"
                                        class="card-img-top" alt="gambar" style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <div class="kepala">
                                            <button type="button" class="btn btn-outline-primary btn-sm" disabled>
                                                Denpasar </button>
                                            <small class="text-body-secondary">Tersedia <b style="color: red;"> 2 unit
                                                </b></small>
                                        </div>
                                        <div class="deskripsi">
                                            <h4 class="card-title-bold">{{ accommodation['nama'] }}</h4>
                                            <h6 class="card-text"><i class="fa fa-map-marker"
                                                    style="font-size:30px"></i>
                                                {{ accommodation['lokasi'] }}</h6>
                                            <br>
                                            <h4 class="d-flex justify-content-end">Harga: Rp {{ accommodation['harga']
                                                }}
                                            </h4>
                                        </div>
                                        <div class="d-flex justify-content-start">
                                            <a href="{{ url_for('accommodation_detail_customer', accommodation_id=accommodation['_id']) }}"
                                                class="btn btn-primary">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>



                        <!-- Add pagination links -->
                        <div class="pagination justify-content-center mt-5">
                            <ul class="pagination">
                                {% if current_page > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="?pencarian={{ pencarian }}&page={{ current_page - 1 }}"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in range(1, total_pages + 1) %}
                                <li class="page-item {% if num == current_page %}active{% endif %}">
                                    <a class="page-link" href="?pencarian={{ pencarian }}&page={{ num }}">{{ num
                                        }}</a>
                                </li>
                                {% endfor %}

                                {% if current_page < total_pages %} <li class="page-item">
                                    <a class="page-link" href="?pencarian={{ pencarian }}&page={{ current_page + 1 }}"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                    </li>
                                    {% endif %}
                            </ul>
                        </div>

                    </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>