<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Marerep</title>

    <!-- Link Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap" rel="stylesheet">

    <!-- Link Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Link Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Link jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Link Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Link jQuery Cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Include SweetAlert2 CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        h2 {
            text-align: center;
            font-weight: 600;
        }

        #gambar,
        #namaPenginapan,
        #lokasi,
        #jumlahKamar,
        #harga,
        #deskripsi,
        #tempatWisata {
            border: 2px solid #558CA1;
        }

        #gambar :focus,
        #namaPenginapan :focus,
        #lokasi :focus,
        #jumlahKamar :focus,
        #harga :focus,
        #deskripsi:focus,
        #tempatWisata:focus {
            border: 3px solid #558CA1;
        }

        .btn-custom {
            font-weight: 600;
            border: #558CA1;
            background-color: #558CA1;
            color: white;
        }

        .btn-custom:hover {
            background-color: #40788e;
            border-color: #40788e;
            color: white;
        }

        .btn-custom.clicked {
            background-color: #40788e;
            border-color: #40788e;
            color: white;
        }

        @media (max-width: 992px) {
            img {
                display: none;
            }
        }
    </style>

    <script>
        // Fungsi untuk menampilkan konfirmasi SweetAlert
        function showConfirmationDialog() {
            if (validateForm()) {
                Swal.fire({
                    title: 'Apakah Anda yakin?',
                    text: 'Anda akan menambahkan penginapan.',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#558CA1',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ya, Tambahkan!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Jika dikonfirmasi, kirim formulir menggunakan jQuery
                        $('form').submit();
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Form tidak boleh kosong!',
                    customClass: {
                        confirmButton: 'btn btn-custom clicked',
                    }
                });
            }
        }

        // Fungsi untuk validasi formulir
        function validateForm() {
            var isValid = true;
            $('form input[type!="file"], form textarea').each(function () {
                if ($(this).val() === "") {
                    isValid = false;
                    return false;
                }
            });
            return isValid;
        }
    </script>

</head>

<body>
    <div class="container mt-5 shadow-p p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2 class="title">Tambah Penginapan</h2>
                <form method="POST" action="/tambah/penginapan" enctype="multipart/form-data"
                    name="tambahPenginapanForm">
                    <!-- Form Tambah -->
                    <div class="mb-3">
                        <label for="gambar" class="form-label">Gambar</label>
                        <input type="file" class="form-control" id="gambar" name="gambar" accept="image/*" required>
                    </div>

                    <div class="mb-3">
                        <label for="namaPenginapan" class="form-label">Nama Penginapan</label>
                        <input type="text" class="form-control" id="namaPenginapan" name="namaPenginapan" required>
                    </div>

                    <div class="mb-3">
                        <label for="lokasi" class="form-label">Lokasi</label>
                        <input type="text" class="form-control" id="lokasi" name="lokasi" required>
                    </div>

                    <div class="mb-3">
                        <label for="jumlahKamar" class="form-label">Jumlah Kamar</label>
                        <input type="number" class="form-control" id="jumlahKamar" name="jumlahKamar" required>
                    </div>

                    <div class="mb-3">
                        <label for="harga" class="form-label">Harga</label>
                        <input type="number" class="form-control" id="harga" name="harga" required>
                    </div>

                    <div class="mb-3">
                        <label for="deskripsi" class="form-label">Deskripsi</label>
                        <textarea class="form-control" id="deskripsi" name="deskripsi" rows="4" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="tempatWisata" class="form-label">Tempat Wisata Terdekat</label>
                        <input type="text" class="form-control" id="tempatWisata" name="tempatWisata" required>
                    </div>

                    <button type="button" class="btn btn-custom col-12 mt-3" onclick="showConfirmationDialog()">Tambah
                        Penginapan</button>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                <img src="https://images.unsplash.com/photo-1577717903315-1691ae25ab3f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Trendy Pants and Shoes" class="w-100 h-100 rounded" />
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>